<!-- dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/home1_pro.css' %}">

</head>

<body ontouchstart>
    <style>
        .emotions-top {
            background-image: url("{% static '/img/home1/Vector1.png' %}");
        }
    </style>
    <div class="container">
        <div id="scenes" style="display: none;"></div>
        <form method="post" id="wrapper-1">
            <div id="uploadRemind" class="popup-window-bg">
                <div class="popup-window">
                    <div class="popup-content">
                        <div class="popup-text">
                            <!-- Upload successfully! -->
                            上传成功！
                              <br>
                              请选择一个故事场景练习吧~
                              <!-- Choose the story scene on the right for practice. -->
                        </div>
                        <div onclick="uploadConfirm()" id="uploadRemindBtn" class="popup-option-btn">
                            <!-- Yes -->
                            好的
                        </div>
                    </div>
                  </div>
            </div>
    
            <div id="checkScenes" class="popup-window-bg">
                <div class="popup-window">
                    <div class="popup-content">
                        <div class="popup-text">
                            今天已经做过这个场景了，
                            <!-- You have already done this scene today,  -->
                            <br>
                            请选择其他场景联系吧~
                            <!-- please practice in another scene. -->
                        </div>
                        <div onclick="scenesConfirm()" id="checkScenesBtn" class="popup-option-btn">
                            <!-- Yes -->
                            确定
                        </div>
                      </div>
                </div>
              </div>
              <div id="checkRecent" class="popup-window-bg">
                <div class="popup-window">
                    <div class="popup-content">
                        <div class="popup-text">
                            <!-- Please upload the recent encounter -->
                            
                            <!-- <br> -->
                            请先上传最近的经历
                            <!-- before selecting the story scene. -->
                        </div>
                        <div onclick="checkRecent()" id="checkRecentBtn" class="popup-option-btn">
                            <!-- Yes -->
                            确定
                        </div>
                      </div>
                </div>
              </div>
            {% csrf_token %}
            <input style="display: none;" type="text" id="place" name="place">
            <input style="display: none;" value="敬佩" type="text" id="high_mood_1" name="high_mood_1">
            <input style="display: none;" value="羞愧" type="text" id="high_mood_2" name="high_mood_2">
            <input style="display: none;" value="感激" type="text" id="high_mood_3" name="high_mood_3">
            <button style="display: none;" id="submit" type="submit"></button>
            <div class="left-col">
                <div class="basic-info">
                     <a href="{% url 'uinfo' %}" class="portrait">
                        {% if user_profile.name == "" %}
                        <img onclick="uploadPortrait()" class="home2-portrait" src="{%static 'avatar/User Name/喜.png'%}" id="previewImage">
                        {% else %}
                        <img onclick="uploadPortrait()" class="home2-portrait" src="{{avatar}}" id="previewImage">
                        {% endif %}
                    </a>
                    <div class="info">
                        {% if user_profile.name == "" %}
                        <div id="wrapper1-username">
                            <!-- User Name -->
                            未设置用户名
                        </div>
                        {% else %}
                        <div id="wrapper1-username">
                            {{user_profile.name}}
                        </div>
                        {% endif %}
                        <div id="wrapper1-intro">
                            <!-- A small step may lead to a thousand miles, keep going! -->
                            不积硅步无以至千里，继续加油哦
                        </div>
                    </div>

                </div>
                <div class="emotions">
                    <div class="emotions-inner">
                        <div class="emotions-top">
                            <img id="emotion-1" onclick="clickEmotion1()" width="94px" src="{% static 'img/home1/敬佩.png' %}" alt="">
                            <img id="emotion-2" onclick="clickEmotion2()" width="94px" src="{% static 'img/home1/羞愧.png' %}" alt="">
                            <img id="emotion-3" width="94px" src="{% static 'img/home1/感激.png' %}" alt="">

                            <div class="emotions-control-container1">
                            </div>
                            <div class="emotions-control-container2">
                            </div>
                            <div class="emotions-control-container3">
                                
                            </div>
                            <div class="emotions-top-text">
                                <!-- Emotion Map -->
                                情绪地图
                            </div>

                        </div>
                        <div style="position: relative;">
                            <!-- <textarea class="emotions-bottom" id="recent_experience" onkeyup="recentInput()" name="recent_experience" placeholder="Please enter your child's recent encounters..."></textarea> -->
                            <textarea class="emotions-bottom" id="recent_experience" onkeyup="recentInput()" name="recent_experience" placeholder="请输入孩子最近的遭遇......"></textarea>
                            <input id="recent_experience_input" name="recent_experience" style="display: none;" type="text">
                            <div onclick="uploadExperience()" class="upload_experience">
                                <!-- upload -->
                                上传
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="background">
                    <div onclick="clickBg('家庭')" class="bg-item" id="bg1"><img id="home-icon" src="{% static 'img/home1/家庭.png' %}" width="190px" alt=""><span class="icon-text">
                        <!-- Home -->
                        家庭
                    </span></div>
                    <div onclick="clickBg('娱乐')" class="bg-item" id="bg2"><img id="play-icon" width="145px" src="{% static 'img/home1/娱乐.png' %}" alt=""><span class="icon-text">
                        <!-- Park -->
                        娱乐
                    </span></div>
                    <div onclick="clickBg('交通')" class="bg-item" id="bg3"><img id="bus-icon" width="240px" src="{% static 'img/home1/公共交通.png' %}" alt=""><span class="icon-text">
                        <!-- Traffic -->
                        交通
                    </span></div>
                    <div onclick="clickBg('校园')" class="bg-item" id="bg4"><img id="school-icon" width="176px" src="{% static 'img/home1/学校.png' %}" alt=""><span class="icon-text">
                        <!-- School -->
                        校园
                    </span></div>
                    <div onclick="clickBg('购物')" class="bg-item" id="bg5"><img id="purchase-icon" width="210px" src="{% static 'img/home1/超市.png' %}" alt=""><span class="icon-text">
                        <!-- Mall -->
                        购物
                    </span></div>
                    <div onclick="clickBg('用餐')" class="bg-item" id="bg6"><img id="restaurant-icon" width="144px" src="{% static 'img/home1/餐厅.png' %}" alt=""><span class="icon-text">
                        <!-- Canteen -->
                        餐厅
                    </span></div>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    let wrapper1 = document.getElementById("wrapper-1");
    let return1 = document.getElementById("return-1");
    let return2 = document.getElementById("return-2");
    let createRoleBtn = document.getElementById("create-role-btn");
    let emotion1 = document.getElementById("emotion-1");
    let emotion2 = document.getElementById("emotion-2");
    let emotion3 = document.getElementById("emotion-3");
    let emotion_container1 = document.getElementsByClassName("emotions-control-container1")[0];
    let emotion_container2 = document.getElementsByClassName("emotions-control-container2")[0];
    let emotion_container3 = document.getElementsByClassName("emotions-control-container3")[0];
    let e1 = "喜悦";
    let e2 = "生气";
    let e3 = "喜悦";
    let inputFile = document.getElementById('inputFile');

    const $ = document.getElementById.bind(document);
    const $inputFile = $('inputFile');
    const $previewImage = $('previewImage');
    $inputFile.addEventListener('change', function() {
      const file = this.files[0];
      $previewImage.src = file ? URL.createObjectURL(file) : '';
    }, this);

    function recentInput() {
        let recent_experience = document.getElementById('recent_experience').value;
        let recent_experience_input = document.getElementById('recent_experience_input');
        recent_experience_input.value = recent_experience;
    }

    function uploadConfirm() {
        let uploadRemind = document.getElementById('uploadRemind');
        uploadRemind.style.display = 'none';
    }
    function scenesConfirm() {
        let checkScenes = document.getElementById('checkScenes');
        checkScenes.style.display = 'none'

    }
    function uploadExperience() {
        let uploadRemind = document.getElementById('uploadRemind');
        uploadRemind.style.display = 'flex';
    }

    function uploadPortrait() {
        inputFile.click();
    }
    function checkRecent() {
        let checkRecent = document.getElementById('checkRecent');
        checkRecent.style.display = 'none';
    }

    function clickBg(val) {
        let recent_experience = document.getElementById('recent_experience').value;
        if(recent_experience == "") {
            console.log("未输入最近的遭遇");
            let checkRecent = document.getElementById('checkRecent');
            checkRecent.style.display = 'flex';
        } else {
            let place = document.getElementById('place');
            place.value = val;
            let scenes= document.getElementById('scenes').innerText;
            if(scenes.includes(val)) {
                console.log("选过了");
                let checkScenes = document.getElementById('checkScenes');
                checkScenes.style.display = "flex"

            } else {
                console.log("没选过");
                let submit = document.getElementById('submit');
                submit.click();
            }
        }
    }
    
    function clickPortrait() {
        wrapper1.style.display = "none";
        wrapper2.style.display = "grid";
    }
    function clickReturn1() {
        wrapper2.style.display = "none";
        wrapper1.style.display = "grid";
    }
    function clickReturn2() {
        wrapper3.style.display = "none";
        wrapper2.style.display = "grid";
    }
    function clickCreateRoleBtn() {
        wrapper2.style.display = "none";
        wrapper3.style.display = "grid";
    }

    function clickEmotion1() {
        emotion_container1.style.display = "inline-block"
        emotion_container1.innerHTML =
        `
            <img class="emotions-control-item2" onclick="emoOptions1('敬佩')" width="52px" name="敬佩" src="{% static 'img/home1/敬佩.png' %}" alt="">
            <img class="emotions-control-item4" onclick="emoOptions1('感激')" width="52px" name="感激" src="{% static 'img/home1/感激.png' %}" alt="">
        `
    }

    function clickEmotion2() {
        emotion_container2.style.display = "inline-block"
        emotion_container2.innerHTML =
        `
            <img class="emotions-control-item5" onclick="emoOptions2('羞愧')" width="52px" name="羞愧" src="{% static 'img/home1/羞愧.png' %}" alt="">
            <img class="emotions-control-item7" onclick="emoOptions2('懊悔')" width="52px" name="懊悔" src="{% static 'img/home1/懊悔.png' %}" alt="">
        `
    }
    function clickEmotion3() {
        emotion_container3.style.display = "inline-block"
        emotion_container3.innerHTML =
        `
            <img class="emotions-control-item10" onclick="emoOptions3('敬佩')" width="52px" name="敬佩" src="{% static 'img/home1/敬佩.png' %}" alt="">
            <img class="emotions-control-item12" onclick="emoOptions3('感激')" width="52px" name="感激" src="{% static 'img/home1/感激.png' %}" alt="">
        `
    }


    function emoOptions1(val) {
        let emotion1 = document.getElementById("emotion-1");
        let emotion_container1 = document.getElementsByClassName("emotions-control-container1")[0];
        emotion_container1.style.display = "none";
        let high_mood_1 = document.getElementById('high_mood_1');
        high_mood_1.value = val;

        let emotion3 = document.getElementById("emotion-3");
        let high_mood_3 = document.getElementById('high_mood_3');
        
        switch (val) {
            case "敬佩":
                emotion1.src = `{% static '/img/home1/敬佩.png' %}`
                emotion3.src = `{% static '/img/home1/感激.png' %}`
                high_mood_3.value = "感激";
                break;
            case "感激":
                emotion1.src = `{% static '/img/home1/感激.png' %}`
                emotion3.src = `{% static '/img/home1/敬佩.png' %}`
                high_mood_3.value = "敬佩";

                break;
            default:
                break;
        }
    }
 
    function emoOptions2(val) {
        let emotion2 = document.getElementById("emotion-2");
        let emotion_container2 = document.getElementsByClassName("emotions-control-container2")[0];
        emotion_container2.style.display = "none";
        let high_mood_2 = document.getElementById('high_mood_2');
        high_mood_2.value = val;
        switch (val) {
            case "羞愧":
                emotion2.src = `{% static '/img/home1/羞愧.png' %}`
                break;
            case "懊悔":
                emotion2.src = `{% static '/img/home1/懊悔.png' %}`
                break;
            default:
                break;
        }
    }

    function emoOptions3(val) {
        let emotion3 = document.getElementById("emotion-3");
        let emotion_container3 = document.getElementsByClassName("emotions-control-container3")[0];
        emotion_container3.style.display = "none";
        let high_mood_3 = document.getElementById('high_mood_3');
        high_mood_3.value = val;
        switch (val) {
            case "敬佩":
                emotion3.src = `{% static '/img/home1/敬佩.png' %}`
                break;
            case "感激":
                emotion3.src = `{% static '/img/home1/感激.png' %}`
                break;
            default:
                break;
        }
    }


</script>
</html>
